
.footer{
    &-social{   
        img{ 
            width: 47px; 
            height: 47px; 
            border:1px solid #f3f3f3;
            @apply rounded-full;
            @screen  maxsm{ 
                width: 40px; 
                height: 40px; 
            } 
            @screen  maxs{ 
                width: 20px; 
                height: 20px;  
            } 
        }
        @screen  maxs{  
            font-size: 16px !important;
        } 
     }
    &-info{
        p{
            @apply text-white text-xs font-medium text-justify text-gray-400 tracking-wider;
        }
    }
}