// Como participar
body{
    @apply bg-white overflow-x-hidden;
}
.page{
    .metaslider{ 
        .rslides{ 
            &_nav{
                right: 58px;
                top: 53px;
                color: transparent;
                background-color: transparent;
                background-size: contain; 
                background-repeat: no-repeat;
                opacity: 1;
                font-size: 0;
                width: 35px;
                height: 35px; 
                padding: 0;
                @screen maxlg{
                   width: 25px;
                   height: 25px; 
                   top: 45px; 
                }
                @screen maxmd{
                   width: 20px;
                   height: 20px;  
                   top: 28px; 
                }
                @screen maxsm{
                   width: 15px;
                   height: 15px;  
                   top: 25px; 
                }
                &.prev{ 
                    display: none;
                    background-image: url(../svg/next.svg);
                    transform: rotate(-180deg);
                    left: 58px;
                    @screen maxlg{
                        left: 36px; 
                     }
                    @screen maxmd{
                        left: 6px; 
                     }
                    
                }
                &.next{ 
                    background-image: url(../svg/next.svg);
                    right: 58px; 
                    @screen maxlg{
                        right: 36px; 
                     }
                    @screen maxmd{
                        right: 6px; 
                     }
                }
            }
        }
    }
    .main{ 
        .list{
            @apply relative my-2;
            li{
             @apply relative text-4xl flex flex-wrap items-center pl-3 font-normal ;  
             @screen maxlg{   
                @apply text-xl  ; 
           } 
             @screen maxsm{   
                @apply   pl-2 ; 
                font-size: 0.9rem #{!important};

           } 
             &::before{
                content: '';
                width: 15px;
                height: 15px;  
                left: -19px; 
                @apply absolute bg-secondary-500 rounded-full ;
                @screen maxmd{   
                    width: 6px;
                    height: 6px; 
                    left: -8px;  

               }
            }

            }
          
        }
        .list-post{
            @apply relative my-2;
            li{
                @apply relative text-4xl  pl-3 font-normal  mb-3;  
                @screen maxlg{   
                    @apply text-xl pl-0 ; 
               } 
                 @screen maxsm{   
                    font-size: 0.9rem #{!important};
               } 
                span{
                    @apply font-semibold text-third-500 ;
                }
            }
        }
    }
}

 

.qubely-container{ 
    @apply m-0;
    max-width: 100%; 
    @screen maxsm{ 
            @apply px-0; 
    }
}
.qubely-column{
    @screen maxsm{
        @apply px-0; 
    }
}

.page{   
    .alignfull {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
    }
    
    .alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;   
        @screen xl{ 
            max-width: 1366px;
            margin: 0 -107px;
        }
       /*  .alignwide {
            max-width: 100% !important;
            margin:auto !important;
            @screen xl{ 
                max-width: 100% !important;
                margin:auto !important;
            }
        } */
       
    }
 } 